@font-face {
  font-family: 'SF Pro';
  src: url('/public/asset/SF/SF\ Pro\ Fonts.pkg');
  /* src: url('/public/asset/SF\ Pro/'); */
  font-weight: 400;
  font-style: normal;
  }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #292929;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  /* font-family: 'SF Pro'; */
}
